<fieldset id="beer_design" class="">
  <legend>Beer Design</legend>
  <p>
    <label for="name">Name</label>
    <input id="name" ng-model="design.name">
  </p>
  <p>
    <label for="style">Style</label>
    <input id="style" ng-model="design.style">
  </p>
  <p>
    <label for="og">Original Gravity</label>
    <input id="og" ng-model="design.og">
  </p>
  <p>
    <label for="ibu">Bitterness</label>
    <input id="ibu" ng-model="design.ibu">
  </p>
  <p>
    <label for="srm">Color</label>
    <input id="srm" ng-model="design.srm">
  </p>
  <p>
    <label>BU/GU</label>
    <span id="bu_gu">{{design.buGu().toFixed(2)}}</span>
  </p>
</fieldset>
