<fieldset id="beer_design" class="">
  <legend>Beer Design</legend>
  <p>
    <label for="name">Name</label>
    <input id="name" name="name">
  </p>
  <p>
    <label for="style">Style</label>
    <input id="style" name="style">
  </p>
  <p>
    <label for="og">Original Gravity</label>
    <input id="og" ng-model="og">
  </p>
  <p>
    <label for="ibu">Bitterness</label>
    <input id="ibu" ng-model="ibu">
  </p>
  <p>
    <label for="color">Color</label>
    <input id="color" name="color">
  </p>
  <p>
    <label for="bu_gu">BU/GU</label>
    <span id="bu_gu">{{buGu().toFixed(2)}}</span>
  </p>
</fieldset>
