<fieldset id="hop_bill" class="">
  <legend>Hop Bill</legend>
  <label for="og">Original Gravity</label>
  <span id="og">{{og}}</span>
  <label for="ibu">Bitterness</label>
  <span id="ibu">{{ibu}}</span>
</fieldset>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Alpha Acid %</th>
      <th>Boil Time</th>
      <th>IBUs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input id="hopName" ng-model="bitteringHop.name"></td>
      <td>{{bitteringHop.getAmount().toFixed(1)}}</td>
      <td><input id="alphaAcid" ng-model="bitteringHop.alphaAcid"></td>
      <td><input id="boilTime" ng-model="bitteringHop.boilTime"></td>
      <td>{{bitteringHop.ibus().toFixed(0)}}</td>
    </tr>
    <tr ng-repeat="hop in flavorHops">
      <td><input ng-model="hop.name"></td>
      <td><input ng-model="hop.amount"></td>
      <td><input ng-model="hop.alphaAcid"></td>
      <td><input ng-model="hop.boilTime"></td>
      <td>{{hop.ibus().toFixed(0)}}</td>
    </tr>
  </tbody>
</table>
